<!DOCTYPE html>
<html>
<head>
  <title>Todoit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="todoit">
	<div class="warpper">
		<div ng-view class="todo-view"></div>
		
		<footer>
			Created by <a href="http://www.jasonheylon.com" target="_blank">Jason Heylon</a>
		</footer>

	</div>

</body>
</html>


