// deleting-item start
	@keyframes deleting-item
	{
		0%   { width: 45px;}
		25%  { width: 30%; }
		50%  { width: 50%; }
		75%	 { width: 80%; }
		100% { width: 95%; }
	}

	@-moz-keyframes deleting-item /* Firefox */
	{
		0%   { width: 45px;}
		25%  { width: 30%; }
		50%  { width: 50%; }
		75%	 { width: 80%; }
		100% { width: 95%; }
	}

	@-webkit-keyframes deleting-item /* Safari 和 Chrome */
	{
		0%   { width: 45px;}
		25%  { width: 30%; }
		50%  { width: 50%; }
		75%	 { width: 80%; }
		100% { width: 95%; }
	}

	@-o-keyframes deleting-item /* Opera */
	{
		0%   { width: 45px;}
		25%  { width: 30%; }
		50%  { width: 50%; }
		75%	 { width: 80%; }
		100% { width: 95%; }
	}
// deleting-item end



// deleting-item start
	@keyframes deleted-item
	{
		from {opacity: 1;}
		to {opacity: 0; display:none; color: #d9d9d9; text-decoration: line-through;}
	}

	@-moz-keyframes deleted-item /* Firefox */
	{
		from {opacity: 1;}
		to {opacity: 0; display:none; color: #d9d9d9; text-decoration: line-through;}
	}

	@-webkit-keyframes deleted-item /* Safari 和 Chrome */
	{
		from {opacity: 1;}
		to {opacity: 0; display:none; color: #d9d9d9; text-decoration: line-through;}
	}

	@-o-keyframes deleted-item /* Opera */
	{
		from {opacity: 1;}
		to {opacity: 0; display:none; color: #d9d9d9; text-decoration: line-through;}
	}
// deleting-item end


// rotate-todo start
	@keyframes rotate-todo
	{
		from {
			transform:rotate(0deg);
			-ms-transform:rotate(0deg); 	/* IE 9 */
			-moz-transform:rotate(0deg); 	/* Firefox */
			-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
			-o-transform:rotate(0deg); 	/* Opera */
		}
		to {
			transform:rotate(-7deg);
			-ms-transform:rotate(-7deg); 	/* IE 9 */
			-moz-transform:rotate(-7deg); 	/* Firefox */
			-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
			-o-transform:rotate(-7deg); 	/* Opera */
		}
	}

	@-moz-keyframes rotate-todo /* Firefox */
	{
		from {
			transform:rotate(0deg);
			-ms-transform:rotate(0deg); 	/* IE 9 */
			-moz-transform:rotate(0deg); 	/* Firefox */
			-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
			-o-transform:rotate(0deg); 	/* Opera */
		}
		to {
			transform:rotate(-7deg);
			-ms-transform:rotate(-7deg); 	/* IE 9 */
			-moz-transform:rotate(-7deg); 	/* Firefox */
			-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
			-o-transform:rotate(-7deg); 	/* Opera */
		}
	}

	@-webkit-keyframes rotate-todo /* Safari 和 Chrome */
	{
		from {
			transform:rotate(0deg);
			-ms-transform:rotate(0deg); 	/* IE 9 */
			-moz-transform:rotate(0deg); 	/* Firefox */
			-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
			-o-transform:rotate(0deg); 	/* Opera */
		}
		to {
			transform:rotate(-7deg);
			-ms-transform:rotate(-7deg); 	/* IE 9 */
			-moz-transform:rotate(-7deg); 	/* Firefox */
			-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
			-o-transform:rotate(-7deg); 	/* Opera */
		}	}

	@-o-keyframes rotate-todo /* Opera */
	{
		from {
			transform:rotate(0deg);
			-ms-transform:rotate(0deg); 	/* IE 9 */
			-moz-transform:rotate(0deg); 	/* Firefox */
			-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
			-o-transform:rotate(0deg); 	/* Opera */
		}
		to {
			transform:rotate(-7deg);
			-ms-transform:rotate(-7deg); 	/* IE 9 */
			-moz-transform:rotate(-7deg); 	/* Firefox */
			-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
			-o-transform:rotate(-7deg); 	/* Opera */
		}
	}
// rotate-todo end