	<header>
		<div class="title">
		  {{ app_title }}
		</div>

		<div class="user-info">
		  未登录
		</div>
	</header>

	<div id="body">
		<form ng-submit="addTodo(new_todo)" class="input-box">
			<input type="text" placeholder="输入要做的事..." ng-model="new_todo.title" />
		</form>

		<section class="todo-list">
			<div class="no-list" ng-hide="todo_list.length !== 0">
				暂无信息
			</div>

      <todo ng-repeat="todo in todo_list | todoFilter: false | orderBy: '-created_at'"
        removeTodo="removeTodo" markComplete="markComplete" todo="todo" ></todo>

			<todo-list todos="todoListCtrl.todo_list" />

		</section>

		<h2>
			已完成
		</h2>

		<section class="complete-list">
			<div class="no-list" ng-hide="todo_list.length !== 0">
				暂无信息
			</div>
      <todo ng-repeat="todo in todo_list | todoFilter: true | orderBy: '-completed_at'"
        removeTodo="removeTodo" markComplete="markComplete" todo="todo" ></todo>

		</section>
	</div>


	<section class="date-navigation">
		<a class="left" href="" ng-click="gotoPrev()"><i class="fa fa-angle-left"></i></a>
		<a class="right" href="" ng-click="gotoNext()"><i class="fa fa-angle-right"></i></a>
	</section>
