	<header>
		<div class="title">
		  {{ app_title }}
		</div>

		<div class="user-info">
		  未登录
		</div>
	</header>

	<div id="body">
		<form ng-submit="addTodo(new_todo)" class="input-box" ng-show="isCurrentToday()">
			<input type="text" placeholder="输入今天要做的todo..." ng-model="new_todo.title" />
		</form>
		<h2 class="block-title" ng-show="isCurrentToday()">
			{{ days_word }}还有 {{ todo_list.length - getCompletedCount() }} 个todo
		</h2>

		<section class="todo-list" ng-show="isCurrentToday()">
      <todo ng-repeat="todo in todo_list | todoFilter: false | orderBy: '-created_at'"
        remove-todo="removeTodo" toggle-complete="markComplete" todo="todo" ></todo>

			<!-- <todo-list todos="todoListCtrl.todo_list" /> -->

		</section>

		<h2 class="block-title success">
			{{ days_word }}完成了 {{ getCompletedCount() }} 个todo
		</h2>

		<section class="complete-list">
      <todo ng-repeat="todo in todo_list | todoFilter: true | orderBy: '-completed_at'"
        remove-todo="removeTodo" toggle-complete="markUnComplete" todo="todo" ></todo>

		</section>
	</div>


	<section class="date-navigation">
		<a class="left" href="" ng-click="gotoPrev()"><i class="fa fa-angle-left"></i></a>
		<a class="right" href="" ng-click="gotoNext()"><i class="fa fa-angle-right"></i></a>
	</section>
